---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  mysql:
    image: mysql:5.7.21
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
    - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/bookstack_db_root_password chars=digits')}}"
    - MYSQL_DATABASE=bookstack
    - MYSQL_USER=bookstack
    - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/bookstack_db_password chars=digits')}}"
    volumes:
    - "{{ volumes_root }}/bookstack/mysql-data:/var/lib/mysql"

  bookstack:
    image: solidnerd/bookstack:0.24.3
    networks:
      - traefik_network
    restart: unless-stopped
    depends_on:
    - mysql
    environment:
    - DB_HOST=mysql:3306
    - DB_DATABASE=bookstack
    - DB_USERNAME=bookstack
    - DB_PASSWORD="{{lookup('password', './settings/passwords/bookstack_db_password chars=digits')}}"
    volumes:
    - "{{ volumes_root }}/bookstack/uploads:/var/www/bookstack/public/uploads"
    - "{{ volumes_root }}/bookstack/storage-uploads:/var/www/bookstack/public/storage"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:bookstack.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:bookstack.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}
