---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  tautulli:
    image: linuxserver/tautulli 
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/tautulli/config:/config"
      - "{{ volumes_root }}/plex/Library/Application Support/Plex Media Server/Logs:/logs:ro"
    environment:
      - PGID={{ gid_output.stdout }}
      - PUID={{ uid_output.stdout }}
      - TZ={{ common_timezone }}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:tautulli.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=8181"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:tautulli.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8181"
{% endif %}
