---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  mailserver:
    image: hardware/mailserver:1.1-stable
    restart: unless-stopped
    domainname: {{ domain }}                    # Mail server A/MX/FQDN & reverse PTR = mail.domain.tld.
    hostname: mail
    labels:
      - traefik.enable=true
      - traefik.frontend.rule=Host:spam.{{ domain }}
      - traefik.mail.frontend.rule=Host:mail.{{ domain }}
      - traefik.port=11334
      - traefik.docker.network=traefik_network

    ports:
      - "25:25"       # SMTP                - Required
    # - "110:110"     # POP3       STARTTLS - Optional - For webmails/desktop clients
      - "143:143"     # IMAP       STARTTLS - Optional - For webmails/desktop clients
      - "465:465"     # SMTPS      SSL/TLS  - Optional - Enabled for compatibility reason, otherwise disabled
      - "587:587"     # Submission STARTTLS - Optional - For webmails/desktop clients
      - "993:993"     # IMAPS      SSL/TLS  - Optional - For webmails/desktop clients
    # - "995:995"     # POP3S      SSL/TLS  - Optional - For webmails/desktop clients
      - "4190:4190"   # SIEVE      STARTTLS - Optional - Recommended for mail filtering
    environment:
      - DBPASS="{{ lookup('password', './settings/passwords/postfix_db_password chars=digits') }}"
      - RSPAMD_PASSWORD={{ default_password }}     # Rspamd WebUI password (required)
    # - ADD_DOMAINS=aa.tld, www.bb.tld...      # Add additional domains separated by commas (needed for dkim keys etc.)
    # - DEBUG_MODE=true                        # Enable Postfix, Dovecot, Rspamd and Unbound verbose logging
    # - ENABLE_POP3=true                       # Enable POP3 protocol
    # - ENABLE_FETCHMAIL=true                  # Enable fetchmail forwarding
    # - DISABLE_RATELIMITING=false             # Enable ratelimiting policy
    # - DISABLE_CLAMAV=true                    # Disable virus scanning
    # - DISABLE_SIGNING=true                   # Disable DKIM/ARC signing
    # - DISABLE_GREYLISTING=true               # Disable greylisting policy
    #
    # Full list : https://github.com/hardware/mailserver#environment-variables
    #
    volumes:
      - "{{ volumes_root }}/mailserver/mail:/var/mail"
      - "{{ volumes_root }}/traefik/acme.json:/etc/letsencrypt/acme/acme.json"

    depends_on:
      - mariadb
      - redis
    networks:
      - traefik_network

  # Administration interface
  # https://github.com/hardware/postfixadmin
  # http://postfixadmin.sourceforge.net/
  # Configuration : https://github.com/hardware/mailserver/wiki/Postfixadmin-initial-configuration
  postfixadmin:
    image: hardware/postfixadmin
    restart: unless-stopped
    domainname: {{ domain }}
    hostname: mail
    labels:
      - traefik.enable=true
      - traefik.frontend.rule=Host:postfixadmin.{{ domain }}
      - traefik.port=8888
      - traefik.docker.network=traefik_network
    environment:
      - DBPASS={{ lookup('password', './settings/passwords/postfix_db_password chars=digits') }}
    volumes:
      - "{{ volumes_root }}/mailserver/mail/postfix/config.inc.php:/postfixadmin/config.inc.php"
      - "{{ volumes_root }}/mailserver/mail/postfix/config.local.php:/postfixadmin/config.local.php"
    depends_on:
      - mailserver
      - mariadb
    networks:
      - traefik_network

  # Webmail (Optional)
  # https://github.com/hardware/rainloop
  # https://www.rainloop.net/
  # Configuration : https://github.com/hardware/mailserver/wiki/Rainloop-initial-configuration
  rainloop:
    image: hardware/rainloop
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.port=8888
      - traefik.frontend.rule=Host:webmail.{{ domain }}
      - traefik.docker.network=traefik_network
    volumes:
      - "{{ volumes_root }}/mailserver/rainloop:/rainloop/data"
    depends_on:
      - mailserver
      - mariadb
    networks:
      - traefik_network

  # Database
  # https://github.com/docker-library/mariadb
  # https://mariadb.org/
  mariadb:
    image: mariadb:10.2
    restart: unless-stopped
    # Info : These variables are ignored when the volume already exists (if databases was created before).
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_DATABASE=postfix
      - MYSQL_USER=postfix
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/postfix_db_password chars=digits')}}"
    volumes:
      - "{{ volumes_root }}/mailserver/mysql/db:/var/lib/mysql"
    networks:
      - traefik_network

  # Database
  # https://github.com/docker-library/redis
  # https://redis.io/
  redis:
    image: redis:4.0-alpine
    restart: unless-stopped
    command: redis-server --appendonly yes
    volumes:
      - "{{ volumes_root }}/mailserver/redis/db:/data"
    networks:
      - traefik_network
