---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: linuxserver/mstream
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - USER={{ default_username }}
      - PASSWORD= {{ default_password }}
      - USE_JSON=false
      - TZ={{ common_timezone }}
    volumes:
      - "{{ volumes_root }}/mstream/config:/config"
      - "{{ storage_dir }}/Music:/music"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:mstream.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=3000"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:mstream.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=3000"
{% endif %}