---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Wallabag - self-hostable app for saving webpages
  wallabag:
    image: wallabag/wallabag
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/wallabag_db_root_password chars=digits')}}"
      - SYMFONY__ENV__DATABASE_DRIVER=pdo_mysql
      - SYMFONY__ENV__DATABASE_HOST=wallabag_db
      - SYMFONY__ENV__DATABASE_PORT=3306
      - SYMFONY__ENV__DATABASE_NAME=wallabag
      - SYMFONY__ENV__DATABASE_USER=wallabag
      - SYMFONY__ENV__DATABASE_PASSWORD="{{lookup('password', './settings/passwords/wallabag_db_password chars=digits')}}"
      - MYSQL_DATABASE=wallabag
      - SYMFONY__ENV__DATABASE_CHARSET=utf8
      - SYMFONY__ENV__MAILER_HOST=127.0.0.1
      - SYMFONY__ENV__MAILER_USER=~
      - SYMFONY__ENV__MAILER_PASSWORD=~
      - SYMFONY__ENV__FROM_EMAIL=wallabag@example.com
      - SYMFONY__ENV__DOMAIN_NAME=https://wallabag.{{ domain }}
    volumes:
      - "{{ volumes_root }}/wallabag/images:/var/www/wallabag/web/assets/images"
    depends_on:
      - wallabag_db
      - redis
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:wallabag.{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:wallabag.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}

  wallabag_db:
    image: mariadb:10.4
    networks:
      - traefik_network
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/wallabag_db:/var/lib/mysql"
    environment:
      - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/wallabag_db_root_password chars=digits')}}"
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/wallabag_db_password chars=digits')}}"
 
  redis:
    image: redis:alpine
