---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  airsonic_web:
    image: linuxserver/airsonic
    restart: unless-stopped
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
      - JAVA_OPTS=-Dserver.use-forward-headers=true
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/airsonic/config:/config"
      - "{{ volumes_root }}/airsonic/playlists:/playlists"
      - "{{ storage_dir }}/Music:/music"
      - "{{ storage_dir }}/Music/Podcasts:/podcasts"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:airsonic.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=4040"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:airsonic.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=4040"
{% endif %}
